{% extends '_base.html' %}

{% block head %}
  <title>Charities</title>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row row">
      {% for charity in charities %}
      <div class="card m-3" style="width: 18rem;">
        <img src="{{ url_for('static', filename='/images/charity.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{charity.name}}</h5>
          <p class="card-text">{{charity.description}}</p>
          <a href="{{ url_for('show_charity', charity_id=charity._id) }}" class="btn btn-primary">Visit now</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}