{% extends '_base.html' %}

{% block head %}
  <title>New Charity</title>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
<!--        <p class="text-center">Live Preview</p>-->
<!--        <div class="card" style="width: 18rem;">-->
<!--          <img src="{{ url_for('static', filename='/images/no_thumbnail.png') }}" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Charity Name</h5>-->
<!--            <p class="card-text">Charity Description</p>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <div class="row justify-content-md-center mt-5">
      <div class="col-md-auto">
        Work in Progress
<!--        <form action="/donation/create" method="POST" style="width: 18rem;">-->
<!--          &lt;!&ndash;        <input type="hidden" value="" name="charity_id">&ndash;&gt;-->
<!--        <label>Add Thumbnail</label>-->
<!--        <input class="mb-4" type="file" id="myFile" name="filename">-->

<!--        <input class="mb-2" type="text" placeholder="Charity Name" name="name">-->
<!--        <textarea class="mb-2" cols="19" placeholder="Description" rows="5" name="description"></textarea>-->
<!--        <input class="mb-1" type="submit" value="Create Charity"><br>-->
<!--        </form>-->
      </div>
    </div>
  </div>
{% endblock %}