{% extends '_base.html' %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row m-5">
      <div class="col">
        <div class="card container" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/charity.png') }}" class="card-img-top" alt="Charity Profile Picture">
          <div class="card-body">
            <p class="card-text">{{charity.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% include 'partials/donation_form.html' %}
      </div>
      <div class="col">
        <div class="container">
          <div class="row row-cols-1">
            <h1>Donations</h1>
            {% if donations.count() > 0 %}
              {% for donation in donations %}

                {% include 'partials/donation.html' %}

              {% endfor %}
            {% else %}
              <p>Be the first to donate to this Charity!</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
